<extend name="public/common"/>
<block name="page">
    <link href="__CSS__/page.css" rel="stylesheet" type="text/css"/>
    <link href="__TREEGRID__/css/jquery.treegrid.css" rel="stylesheet" type="text/css"/>
</block>
<block name="content">
    <div class="list-div" id="listDiv">
        <input type="submit" value=" 删除选中 " class="ajax_post" url="{:U('changStatus')}"/>
        <table cellpadding="3" cellspacing="1" class="tree">

            <tr>
                <th>名称</th>
                <th>简介</th>
                <th>状态</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            <tr>
                <td align="center" colspan="8">{$shuju}</td>
            </tr>
            <foreach name="lists" item="list">
                <tr class="treegrid-{$list.id} <?php if($list['level']!=1){echo 'treegrid-parent-'.$list['parent_id'];}?>">
                    <td >{$list.name}</td>

                    <td align='center' >{$list.intro}</td>
                    <td align='center'><a class='ajax_get1' href="{:U('changStatus',array('id'=>$list['id'],'status'=>1-$list['status']))}"><img
                            src='__IMG__/{$list.status}.gif'/></a></td>
                    <td align='center'>{$list.sort}</td>
                    <td align="center">
                        <a href="__APP__/Goods/?goods_id=<{$val.goods_id}>" target="_blank" title="查看"><img
                                src="__IMG__/icon_view.gif" width="16" height="16" border="0"/></a>
                        <a href="{:U('edit',array('id'=>$list['id']))}" title="编辑"><img
                                src="__IMG__/icon_edit.gif" width="16" height="16" border="0"/></a>
                        <a class="ajax_get1" href="{:U('changStatus',array('id'=>$list['id']))}" onclick=""
                           title="回收站"><img
                                src="__IMG__/icon_trash.gif" width="16" height="16" border="0"/></a></td>
                </tr>
            </foreach>
        </table>

    </div>
    <script type="text/javascript" src="__JS__/public.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="__LAYER__/layer.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script type="text/javascript" src="__TREEGRID__/js/jquery.treegrid.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.tree').treegrid();
        })
    </script>
    <!--<script type="text/javascript" src="__TREEGRID__/js/jquery.treegrid.js"></script>-->

</block>